.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #c0c4cc solid;
}

.input {
  position: relative;
}

.input input {
  width: 180px;
  height: 36px;
  border: 1px solid #c0c4cc;
  border-radius: 2px;
  background: #ffffff;
  padding-left: 30px;
}

.input img {
  position: absolute;
  left: 5%;
  top: 20%;
}

@media only screen and (max-width: 900px) {
  .input input {
    width: 170px;
    height: 30px;
    padding-left: 30px;
  }
  .header > img {
    width: 20%;
  }
}

@media only screen and (max-width: 500px) {
  .input img {
    position: absolute;
    left: 22%;
    top: 30%;
  }
}
